.container{
    display: flex;
}

.grid-user {
width: 400px;
height:400px ;
display: flex;
flex-wrap: wrap;
background-color: blue ;
margin: 20px;
}
.grid div {
width: 40px;
height: 40px;
}

.grid-computer {
    width: 400px;
height:400px ;
display: flex;
flex-wrap: wrap;
background-color:lightgreen ;
margin : 20px;
}
.grid-display{
    width: 400px;
    height: 400px;
    margin: 20px;
    background-color: yellow;
}
.destroyer-container{
    width: 80px;
    height: 40px;
    margin: 10px;
    background-color: orange;
    display: flex;
}
.submarine-container{
    width: 120px;
    height: 40px;
    margin: 10px;
    background-color: pink;
    display: flex;
}
.cruiser-container{
    width: 120px;
    height: 40px;
    margin: 10px;
    background-color: purple;
    display: flex;
}
.battleship-container{
    width: 160px;
    height: 40px;
    margin: 10px;
    background-color: aqua;
    display: flex;
}
.carrier-container {
    width: 200px;
    height: 40px;
    margin: 10px;
    background-color: green;
    display: flex;
}

.ship div {
    width: 40px;
    height: 40px;

}